

* {
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, sans-serif;
    font-size:18px;
   
}
nav{
    position:absolute;
    top: -10px;
}
 
li {
    list-style: none; 
    display: inline;
}
li a {
    padding: 10px 20px; 
    margin:0;
    border: 0px solid rgba(46, 43, 43, 0); 
    background: #353839;
    text-decoration: none;
    color:#FFF;

}
li a:hover {
    background:blue;
    color:black; 
    border-color:black;
    text-transform: uppercase;
    border-radius: 2px;
}